.my-section{
  text-align: center

}
.my-section table{
  width: 800px;
  margin: 0 auto;
}
.my-section table img{
  display: block;
  height: 200px;

}
.my-section table tr{
  box-shadow: 0px 0px 20px 0px rgba(12, 5, 5, 0.1);

}
.filter-buttons{
 margin-bottom: 60px
}
.my-section table button{
  background-color: red;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  /* box-shadow: 0px 0px 20px 0px rgba(12, 5, 5, 0.2) */
}


